<p id="notice"><%= notice %></p>

<h1><center> DESIGN THEMES</center></h1>
<div class="container">
    <div class="row">
  <% @themes.each do |theme| %>
      <div class="col-lg-6">
            <%#= theme.name %>
            <%= image_tag theme.image %><br>
            <%= link_to 'Show', theme %>
            <%= link_to 'Edit', edit_theme_path(theme) %>
            <%= link_to 'Destroy', theme, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
        <% end %>
    </div>
</div>


<%= link_to 'New Theme', new_theme_path %>
